body {
    background-color: #171c20;
    color: white;
    font-family: Arial, sans-serif;
}

.blok {
    width: 500px;
    padding: 20px;
    margin: 30px auto;

    border: 3px solid #444a4e;
    border-radius: 40px;

    text-align: center;
}

.blok a {
    color: white;
    text-decoration: none;
}

.blok:hover {
    background-color: #252b2f;
    border-color: white;
}
